<div class="container">
	<div class="row">
		<div class="col-md-auto">
			<div class="temperature"><%= @temperature %>&#176C</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-auto">
			<div class="city"><%= @city %></div>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-auto">
			<div class="city"><%= image_tag("beer.png", :alt => "beer") %></div>
		</div>	
	</div>
</div>


<%= @temperature %>
<%= @city %>

Co do picia?
<% @alcohols&.each do |alcohol| %>
  <ul>
    <li><%= alcohol.name %></li>
  </ul>
<% end %>

<%= form_for :notify, url: messages_path do |form| %>
	<%= form.text_field :phone_number %>
	<%= form.hidden_field :temperature, value: @temperature%>
	<%= form.hidden_field :city, value: @city %>
	<%= form.hidden_field :alcohol, value: @alcohols.first&.name %>
  <%= form.submit 'Wyslij informacje przez SMS' %>
<% end %>

